#database configuration
db.username=root
db.password=
db.url=jdbc:mysql://localhost:3306/rentsathi
db.driverClassName=com.mysql.cj.jdbc.Driver

#database configuration for server
#db.username=postgres
#db.password=p0stGRES
#db.url=jdbc:postgresql://localhost:5432/rent
#db.driverClassName=org.mysql.Driver


#file  path
remoteUrl=http://localhost:8181/rent/
path=path=/var/rent/

#file path server
#remoteUrl=https://mis.rhest.org.np/sgt/
#path=/var/rhest/